<div>
    <div class="text-center">
        <h1>Groupe Alpha</h1>
    </div>
    <div class="row">
        <div class="col-1" >
            <p>Membre du groupe</p>
        </div>
        <div class="tab-content text-center col-11">
            <div class="tab-pane fade show active" id="chat">
                <div>
                    <div>
                        <p>Heure</p>
                    </div>
                    <div>
                        <div class="mes1">
                            <p></p>
                        </div>
                    </div>
                    <div>
                        <div class="mes2">
                            <p>elhdiagavoujk</p>
                        </div>  
                    </div>
                </div>
                <div id="bar-mes">
                    <div id="message" class="row">
                        <div class="col">
                            <button type="button" class="btn btn-light">
                                EMOJI
                            </button>
                        </div>

                        <div class="col " id="text">
                            <form>
                                <!-- <input type="text" id="text" [formControl]="contentValue"> -->
                            </form>
                        </div>
                        
                        <div class="col">
                            <button type="button" class="btn btn-light"(click)="NewMess()">
                                ENVOYER
                            </button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>