.avatar-container {
    position: relative;
}

.avatar {
    width: 75px;
    height: 75px;
    text-align: center;
}

.flag {
    position: absolute;
    right: 0;
    bottom: 0;
}

.chat-block {
    z-index: -1;
    border-radius: 20px;
    border: 1px solid #000;
    margin: 20px;
}

.chat-block .content-block {
    border-radius: 30px;
    padding: 10px;
}

.message-container {
    z-index: 2;
    margin: 20px;
}

.add-message {
    border-radius: 5px;
    color: #fff;
    padding: 20px;
    background-color: #000;
    margin: 10px;
}
#smileTony{
    width: 1.5em;
    height: 1.5em;
    max-width: 33px;
    max-height: 33px;
}
#btnsmile{
    padding: 6px;
}
#inputmess{
    padding: 6px 9px;
}
