.avatar-container {
    position: relative;
}

.avatar {
    width: 75px;
    height: 75px;
    text-align: center;
}

.flag {
    position: absolute;
    right: 0;
    bottom: 0;
}

.chat-block {
    border-radius: 20px;
    border: 1px solid #000;
    margin: 20px;
}

.chat-block .content-block {
    border-radius: 30px;
    padding: 10px;
}

.message-container {
    margin: 20px;
}

.add-message {
    border-radius: 5px;
    color: #fff;
    padding: 20px;
    background-color: #000;
    margin: 10px;
}