<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <button class="btn btn-danger"[routerLink]="['messages/:userid']">retour</button>
    </div>
    <div class="container-fluid">
    <a class="navbar-brand" href="#">City Event</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <button class="btn btn-success m-2" [routerLink]="['']">Acceuil</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-success m-2"[routerLink]="['Map']">Map</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-success m-2"[routerLink]="['parametres']">Parametres</button>
        </li>
        </ul>
    </div>
    </div>
</nav>

<div>
    <div class="text-center">
        <h1>Groupe Alpha</h1>
    </div>
    <div class="row">
        <div class="col-1" >
            <p>Membre du groupe</p>
        </div>
        <div class="tab-content text-center col-11">
            <div class="tab-pane fade show active" id="chat">
                <div>
                    <div>
                        <p>Heure</p>
                    </div>
                    <div>
                        <div class="mes1">
                            <p></p>
                        </div>
                    </div>
                    <div>
                        <div class="mes2">
                            <p>elhdiagavoujk</p>
                        </div>  
                    </div>
                </div>
                <div id="bar-mes">
                    <div id="message" class="row">
                        <div class="col">
                            <button type="button" class="btn btn-light">
                                EMOJI
                            </button>
                        </div>

                        <div class="col " id="text">
                            <form>
                                <input type="text" id="text" [formControl]="contentValue">
                            </form>
                        </div>
                        
                        <div class="col">
                            <button type="button" class="btn btn-light"(click)="NewMess()">
                                ENVOYER
                            </button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>