    
    <div class="container-fluid bg-light" id="navbar-default">
        <div class="row" >
          <div class="col-9">
  <img id="logo" src="/assets/logo.png" *ngIf="screen1">
  <img (click)="ecran1()" id="logo" src="/assets/pinclipart_1.png" *ngIf="screen2">

          </div>
         <div class="col-3 py-4">
            <div class="row" id="default-nav-buttons">
                <div class="col-6 py-4 nav-button"><button type="button" class="btn btn-outline-primary">Connexion</button></div>
                <div class="col-6 py-4 nav-buttons"><button type ="button" class="btn btn-outline-primary">Incription</button></div>
                            
                            <div>
                          </div>
                        </div>
                        </div>
                </div>
</div>

<div id="mobile-navbar">
    <div class="container-fluid bg-light " id="navbar-mobile">
        <div class="row">
          <div class="col-9">
            <img id="logo" src="/assets/logo.png" *ngIf="screen1">
            <img (click)="ecran1()" id="logo2" src="/assets/pinclipart_1.png" *ngIf="screen2">
          </div>
         <div class="col-3 py-4">
            <div class="row" id="default-nav-buttons">
                <div class="dropdown">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="/assets/icons8-menu-24.png">
                    </button>
                    <div class="dropdown-menu" >
                      <a class="dropdown-item" href="#">Accueil</a>
                      <a class="dropdown-item" href="#">Profil</a>
                    </div>
                  </div>
                            
                            <div>
                          </div>
                        </div>
                        </div>
                </div>
</div>


<div id="cadre-contour" *ngIf="screen1">
    <div id="cadre">
        <h3 id="create-event">Création d'un événement</h3>
        <div id="form">
            <form id="formulaire">
                <div class="form-group champ">
                  <input type="text" class="form-control text-center" id="eventname" name="answer_a" placeholder="Nom de l'événement" [formControl]="eventNameValue">
                </div>
                <select class="form-select champ container-fluid text-center" id="select" [formControl]="selectTypeValue">
                    <option value="">Type d'événement</option>
                    <option value="Culture">Culture</option>
                    <option value="Sport">Sport</option>
                    <option value="Gastronomie">Gastronomie</option>
                  </select>
                  <div class="form-group champ"> 
    
                    <input type="text" class="form-control text-center" id="event-address" value="" placeholder="Adresse de l'événement" [formControl]="addressValue">
                  </div>
    <div id="date-picker">
                  <input type="text" id="select-date1" class= "datepicker" placeholder="Date de début" [formControl]="startDateValue">
                
                  <input type="text" id="select-date2" class= "datepicker" placeholder="Date de fin (facultatif)" [formControl]="endDateValue">
                </div>
                <div id="hour-picker">
                    <select class="selectstyle form-select d-inline-block champ container-fluid text-center" id="select-hour1"[formControl]="startTimeValue" >
                      <option value="">Heure de début</option>
                      <option value="00h00">00h00</option>
                      <option value="01h00">01h00</option>
                      <option value="02h00">02h00</option>
                      <option value="03h00">03h00</option>
                      <option value="04h00">04h00</option>
                      <option value="05h00">05h00</option>
                      <option value="06h00">06h00</option>
                      <option value="07h00">07h00</option>
                      <option value="08h00">08h00</option>
                      <option value="09h00">09h00</option>
                      <option value="10h00">10h00</option>
                      <option value="11h00">11h00</option>
                      <option value="12h00">12h00</option>
                      <option value="13h00">13h00</option>
                      <option value="14h00">14h00</option>
                      <option value="15h00">15h00</option>
                      <option value="16h00">16h00</option>
                      <option value="17h00">17h00</option>
                      <option value="18h00">18h00</option>
                      <option value="19h00">19h00</option>
                      <option value="20h00">20h00</option>
                      <option value="21h00">21h00</option>
                      <option value="22h00">22h00</option>
                      <option value="23h00">23h00</option>
                    </select>
                    <select class="form-select d-inline-block champ container-fluid text-center" id="select-hour2" [formControl]="endTimeValue">
                      <option value="">Heure de fin</option>
                      <option value="00h00">00h00</option>
                      <option value="01h00">01h00</option>
                      <option value="02h00">02h00</option>
                      <option value="03h00">03h00</option>
                      <option value="04h00">04h00</option>
                      <option value="05h00">05h00</option>
                      <option value="06h00">06h00</option>
                      <option value="07h00">07h00</option>
                      <option value="08h00">08h00</option>
                      <option value="09h00">09h00</option>
                      <option value="10h00">10h00</option>
                      <option value="11h00">11h00</option>
                      <option value="12h00">12h00</option>
                      <option value="13h00">13h00</option>
                      <option value="14h00">14h00</option>
                      <option value="15h00">15h00</option>
                      <option value="16h00">16h00</option>
                      <option value="17h00">17h00</option>
                      <option value="18h00">18h00</option>
                      <option value="19h00">19h00</option>
                      <option value="20h00">20h00</option>
                      <option value="21h00">21h00</option>
                      <option value="22h00">22h00</option>
                      <option value="23h00">23h00</option>
                    </select>
                  </div>
    
                  <div class="form-group champ text-center">
                    <input type="text" class="form-control text-center" id="pax" placeholder="Nombre de participants" [formControl]="participantsValue">
                  </div>
    
                  <div class="form-group champ">
                    <input type="text" class="form-control text-center" id="budget" placeholder="Budget nécessaire" required [formControl]="priceValue">
                  </div>
              </form>
    
        </div>
    
        <div id="bouton-1">
        <button (click)="ecran2()" type="button" class="btn btn-primary" id="bouton">Suivant</button>
    </div>
    </div>
    </div>



    <div id="cadre-contour"  *ngIf="screen2">
        <div id="cadre">
            <h3 id="create-event">Création d'un événement</h3>
            <div id="form">
                <form>
                  <div class="form-group champ" id="text-area">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Description de l'événement" [formControl]="descriptionValue"></textarea>
                  </div>   
                  </form>
        
            </div>
        
            <div id="bouton-1">
            <button (click)="add()"type="button" class="btn btn-primary" id="bouton">Créer</button>
        </div>
        </div>
        </div>
        
    
    
    <div class="carte" id="carte"></div>
    
    
    <div id="quick-menu">
        <div id="home"> <img class="icons" src="/assets/logo.png"> </div>
        <div id="map"><img class="icons" src="/assets/map.png"> </div>
        <div id="event-creation"><img class="icons" src="/assets/plus.png"></div>
    </div>
    
    <footer>
        <div><img id="logo-footer" align-middle src="/assets/logo.png"></div>
    </footer>