<div class="innerDivBody">
    <div class="innerDivDetails">
        <div>
            <div class="innerDivTitle">
                <h1>Paiement Sécurisé</h1>
                <p>by Ⓒ City Event</p>
            </div>
            <div class="container">
                <h4 class="mb-3">Facturation</h4>
                <div class="container p-0">
                    <div class="card px-4 form_container">
                        <p class="h8 py-3">Details de paiement</p>
                        <div class="row gx-3">
                            <div class="col-12">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">Nom et Prénom</p> <input class="form-control mb-3" type="text" placeholder="Nom" [formControl] ="nomPrenom" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">Numero de carte</p> <input class="form-control mb-3" type="text" placeholder="1234-5678-9101-1121" [formControl] ="numeroDeCarte" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">Date d'expiration</p> <input class="form-control mb-3" type="text" placeholder="MM/AA" [formControl] ="dateDexpiration" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">CVV/CVC</p> <input class="form-control mb-3 pt-2 " type="password" placeholder="123" [formControl] ="cvc" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="btn btn-primary mb-3" (click) ="payer()"> <span class="ps-3">Payer</span> <span class="fas fa-arrow-right"></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div>
                    <p class="innerDivBottomText">* La participation a cet evenement nécéssite un don de 5€</p>
            </div>
        </div>
    </div>
</div>