/* réinitialisation pour les dimensions */
* {
    box-sizing: border-box;
}

/* redimensionnement du bouton x du compte pour avoir la meme taille que le hamburger */
#xbtn{
    height: 2em;
    width: 2.8em;
    padding: 0;
}
.bi-x{
    font-size: 2.5rem;
    margin: 0;
    position: relative;
    top:-2px
}
#bande{
    position: relative;
}
#btnmodif{
    z-index: 1;
    top: 2px;
}
/* dimensionnement du header */
header {
    min-height: 110px;
}

.no-margin-right{ 
    padding-right: 0;
}
#imgprofil{
    border-radius: 100%; 
    margin: 10%;
    max-height: 6rem;
}
#boutons{
    padding: 5px;
}
.bi-person-circle{
    font-size: 1.5rem; 
    color: rgb(255, 0, 234);
}
.bi-geo{
    font-size: 1.5rem; 
    color: orange; 
}
.btn_modif{
    padding: 0 5px;
    position: absolute;
    top: 60px;
    right: 2px;
}
.icon-activity{
    font-size: 1.5rem;
}
.btn-activity{
    margin: 3px;
}
.btn-menu{
    font-size: 1.8em; 
    font-weight: bolder; 
    color:black;
    text-align: left; 
    padding-left: 20%;
}
.bi-activity{
    font-size: 2rem;
    color:rgb(43, 40, 238);
    height: 2em;
}
.bi-envelope{
    font-size: 2rem;
    color:orange;
}
.bi-tools{
    font-size: 2rem;
    color:red;
}
.bi-credit-card{
    font-size: 2rem;
    color:rgb(187, 11, 134);
}
.bi-patch-question{
    font-size: 2rem;
    color:green;
}
.bi-power{
    font-size: 2rem;
    background: -webkit-linear-gradient(rgb(43, 40, 238),orange, red,rgb(187, 11, 134),green);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}