<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" onclick="window.history.back()" id="xbtn" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-x"></i> 
        </button>
    </div>
</nav>

<div id="bande">
<button #btn [className]="isView ? 'btn btn-danger btn_modif' : 'btn btn-success btn_modif'" 
            [type]="isView ? 'button' : 'submit'" (click)="switchbtn()" id="btnmodif">
    <i class="bi bi-pencil-square" *ngIf="isView"></i>
    <i class="bi bi-check-all" *ngIf="!isView"></i>
</button>
<app-view-bandeau *ngIf="isView"></app-view-bandeau>
<app-edit-bandeau *ngIf="!isView"></app-edit-bandeau>
</div>

<div id="boutons" class="d-flex justify-content-around flex-wrap inline-block">

<div class="d-flex no-wrap" *ngIf="user !== null">
    <div *ngFor="let hobby of user.hobbies">
        <button class="btn btn-light btn-activity shadow-sm rounded">
            <i [ngClass]="[logoHobby[hobby]]"></i>
        </button>
    </div>
</div>

    
</div>



<div class="d-grid gap-2 m-2 col-11 mx-auto">
    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['/mes_activites/',user ? user.id : '']"> <i class="bi bi-activity"></i> Activités </button>
    <!-- routerLink Activity -->

    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['/messages',user ? user.id : '']"><i class="bi bi-envelope"></i> Messages</button>
    <!-- routerLink Messagerie -->

    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['/parametres/',user ? user.id : '']">
        <i class="bi bi-tools"></i> Paramètres</button>
    <!-- routerLink Params -->

    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['/parametres/paiementinfos/',user ? user.id : '']"><i class="bi bi-credit-card"></i> Paiements</button>
    <!-- routerLink Paiement -->

    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['/contact/',user ? user.id : '']"> <i class="bi bi-patch-question"></i> Aides</button>
    <!-- routerLink Aides -->

    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['']"> <i class="bi bi-power"></i> Déconnexion </button>
    <!-- routerLink Accueil -->

</div>



<app-footer-flo></app-footer-flo>