<div class="container-fluid bg-light" id="navbar-default">
    <div class="row" >
      <div class="col-9">
<img id="logo" src="/assets/logo.png">
<img id="logo" src="/assets/pinclipart_1.png">

      </div>
     <div class="col-3 py-4">
        <div class="row" id="default-nav-buttons">
            <div class="col-6 py-4 nav-button"><button type="button" class="btn btn-outline-primary">Connexion</button></div>
            <div class="col-6 py-4 nav-buttons"><button type ="button" class="btn btn-outline-primary">Incription</button></div>
                        
                        <div>
                      </div>
                    </div>
                    </div>
            </div>
</div>

<div id="mobile-navbar">
<div class="container-fluid bg-light " id="navbar-mobile">
    <div class="row">
      <div class="col-9">
        <img id="logo" src="/assets/logo.png">
        <img id="logo2" src="/assets/pinclipart_1.png" >
      </div>
     <div class="col-3 py-4">
        <div class="row" id="default-nav-buttons">
            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="/assets/icons8-menu-24.png">
                </button>
                <div class="dropdown-menu" >
                  <a class="dropdown-item" href="#">Accueil</a>
                  <a class="dropdown-item" href="#">Profil</a>
                </div>
              </div>
                        
                        <div>
                      </div>
                    </div>
                    </div>
            </div>
</div>





<div class="carte" id="carte"></div>


<div id="quick-menu">
    <div id="home"> <img class="icons" src="/assets/logo.png"> </div>
    <div id="map"><img class="icons" src="/assets/map.png"> </div>
    <div id="event-creation"><img class="icons" src="/assets/plus.png"></div>
</div>

<footer>
    <div><img id="logo-footer" align-middle src="/assets/logo.png"></div>
</footer>