<div class="container-fluid bg-light" id="navbar-default">
    <div class="row" >
      <div class="col-9">
        <img class="logo2" src="/assets/pinclipart_1.png" *ngIf="screen1">
        <img class="logo2" src="/assets/pinclipart_1.png" *ngIf="screen2 || screen3" (click)="retour()">

      </div>
     <div class="col-3 py-4">
        <div class="row" id="default-nav-buttons">
            <div class="col-6 py-4 nav-button"><button type="button" class="btn btn-outline-primary">Connexion</button></div>
            <div class="col-6 py-4 nav-buttons"><button type ="button" class="btn btn-outline-primary">Incription</button></div>
                        
                        <div>
                      </div>
                    </div>
                    </div>
            </div>
</div>

<div id="mobile-navbar">
<div class="container-fluid bg-light " id="navbar-mobile">
    <div class="row">
      <div class="col-9">
         <img class="logo2" src="/assets/pinclipart_1.png" *ngIf="screen1">
         <img class="logo2" src="/assets/pinclipart_1.png" *ngIf="screen2 || screen3" (click)="retour()">
      </div>
     <div class="col-3 py-4">
        <div class="row" id="default-nav-buttons">
            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="/assets/icons8-menu-24.png">
                </button>
                <div class="dropdown-menu" >
                  <a class="dropdown-item" href="#">Accueil</a>
                  <a class="dropdown-item" href="#">Profil</a>
                </div>
              </div>
                        
                        <div>
                      </div>
                    </div>
                    </div>
            </div>
</div>

<!-- main -->
<div class="container-fluid" *ngIf="screen1">
<div class="paiement row align-items-center">
    <div class="col-4"><img class="cb"src="/assets/card.png"></div>
    <div class="col-8" (click)="paiement()"><h2>Mode de paiement</h2></div>
</div>
</div>


<div class="container-fluid historique" *ngIf="screen1">
<div class="paiement row align-items-center">
    <div class="col-4" ><img class="calendar" src="/assets/calendrier.png"></div>
    <div class="col-8"><h2 (click)="historique()">Historique de paiement</h2></div>
</div>
</div>

<div class="container"*ngIf="screen3">
<h3 class="historytitle">Historique de paiement</h3> 
 <div class="history" *ngFor="let history of historiquePaiement">
   <ul class="historylist">
    <h4>Nom de l'activité : {{history.nomActivite}}</h4>
<li>Date : {{history.Date}}</li>
<li>Prix : {{history.somme}}</li>
</ul>
<hr>
</div>
</div>
</div>

<!-- footer -->



<div *ngIf="screen2" class="container-fluid row">
  <h3 id="paiementinfo">Mode de paiement</h3>
  <img class="mx-auto d-block col-6" id="creditcard" src="/assets/creditcard.png">

  <div class="rounded card-info mx-auto d-block col-6">
<h4>Nom</h4>
<p class="cardinfotext">{{creditcardinfo.Name}}</p>
<h4>Numéro de carte</h4>
<p class="cardinfotext">{{creditcardinfo.cardNumber}}</p>
<h4>Date d'expiration</h4>
<p class="cardinfotext">{{creditcardinfo.expirationDate}}</p>
<h4>CVV /CVC</h4>
<p class="cardinfotext">{{creditcardinfo.securityCode}}</p>
<div class="d-flex flex-row justify-content-center">
<div class="buttonscard"><button class="btn btn-primary m-4">Modifier</button></div>
<div class="buttonscard "><button class="btn btn-danger m-4">Supprimer</button></div>
  </div>
  </div>
  </div>
  

  <footer>
    <div>
    <div id="quick-menu" class="footermenu">
        <div id="home"> <img class="icons" src="/assets/logo.png"> </div>
        <div id="map"><img class="icons" src="/assets/map.png"> </div>
        <div id="event-creation"><img class="icons" src="/assets/plus.png"></div>
    </div>
    
    
        <div class="footer-menu" id="footer2"><img id="logo-footer" align-middle src="/assets/logo.png"></div>
    
    
      </div>
    </footer>

