.fixe-bottom {
    height: 15%;
    background: black; 
    text-align:center;
    padding: 10px;
}
#footerimg{
    height: 60px;
    background: white; 
    padding: 5px; 
    margin: auto; 
    border-radius: 60px;
}