.fixe-bottom {
    height: 15%;
    background: black; 
    text-align:center;
    padding: 10px;
    /* margin-bottom: 0px; */
    /* margin-top: 20px; */
    position: relative;
    bottom: 0;
}
#footerimg{
    height: 60px;
    background: white; 
    padding: 5px; 
    margin: auto; 
    border-radius: 60px;
}