<header  class="container-fluid"  [ngStyle]="{'background-image': 'url(./../assets/avatars/'+useravat2+')' , 'background-repeat': 'no-repeat' , 'background-size' : 'cover' }" >
    <div class="container">

        <div class="row justify-content-around">
            <div class="col"></div>
            <div class="col-3 align-self-center container">
                <img src="../../assets/avatars/{{user ? user.avatar :''}}" id="imgprofil" alt="image de profil">
            </div>
            <div class="col"></div>
            <div class="col-6 align-self-center" id="inputgroup">
                <div class="input-group input-group-sm" >
                
                    <div class="input-group-text bg-transparent border-0 ">
                        <i class="bi bi-person-circle"></i>
                    </div>
                    <input type="text" class="form-control form-control-sm user bg-transparent border-0 text-white" value="{{user ? user.pseudo: ''}}" readonly>
                </div>
                

                <div class="input-group input-group-sm">
                    <div class="input-group-text bg-transparent border-0 ">
                        <i class="bi bi-geo"></i>
                    </div>
                    <input type="text" class="form-control form-control-sm user textarea-autosize bg-transparent border-0 text-white" value="{{user ? user.region: ''}}" readonly>
                </div>
            </div>
            <div class="col"></div>
        </div>
        
    </div>
</header>