.fleche{
    height: 5rem;
    width: 4rem;
    max-height: 5rem;
    max-width: 4rem;
}

.navbarDiv{
    display: flex;
}

.navbarLogo{
    max-height: 3rem;
    justify-content: center;
    text-align: center;
}

.innerDivBody{
    text-align: center;
    padding-top: 3rem;
    display: flexbox;
    justify-content: center;
}

h1{
    text-align: center;
}

.innerDivDetails{
    background-color: rgb(184, 184, 184);
    margin-top: 2rem;
    height: 48rem;
    width: 45rem;
    max-height: 80%;
    max-width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    border: hidden;
    border-radius: 40px;
}

.innerDivBottomText{
    font-style: italic;
    padding-top: 3rem;
}

.btn{
    text-align: center;
    margin-top: 2rem;
}

footer{
    margin-bottom: 0;
    height: 7rem;
    background-color: black;
    margin-bottom: 0;
}

.footerText{
    text-align: center;
    font-size: 1rem;
    color: white;
    padding-top: 2rem;
    margin-top: 2rem;
}

#paymentButton{
    margin-bottom: 5rem;
}

input.ng-invalid{
    border-left: 5px solid red;
}

input.ng-valid{
    border-left: 5px solid green;
}

.error{
    color: black;
}

.error.ng-valid{
    color: green;
}