<app-navbar [userId]="userId"></app-navbar>
<div>
    <div class="text-center row">

        <div>
            <h1>Messagerie</h1>
        </div>

        <div>
            <input class="form-control col-5" type="search" placeholder="Search" aria-label="Search">
        </div>

        <div *ngFor="let discu of mydiscussion"  class="mt-3">
            <div>
                <p></p>
                <p></p>
                <button type="button" class="btn btn-primary">{{disclast}}</button>
            </div>
        </div>
        <button type="button" class="btn btn-light">Contact</button>
    </div>
</div>
