<app-navbar [userId]="userId"> </app-navbar>
<div>
    <div class="text-center row">

        <div>
            <h1>Messagerie</h1>
        </div>

        <div>
            <input class="form-control col-5" type="search" placeholder="Search" aria-label="Search">
        </div>

        <div *ngFor="discussion of Discussions">
            <div>
                <button type="button" class="btn btn-primary"(click)= "redirect()">Banana{{LastMessage}}</button>
            </div>
        </div>
        <button type="button" class="btn btn-light"(click)= "redirect()">Contact</button>
    </div>
</div>
