.event__header {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.event__header__title {
    background-color: rgba(0, 0, 0, 0.65);
    color: #fff;
    min-width: 240px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.event__header__title h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.map > img {
    max-width: 100%;
}

.user-group {
    margin: 4rem auto; 
    max-width: 350px;
}

.admin {
    color: #262A8D;
}

.avatar-container {
    position: relative;
}

.avatar {
    width: 75px;
    height: 75px;
    text-align: center;
}

.flag {
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer {
    height: 250px;
}

.footer, .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.logo > img {
    width: 50px;
}

@media (min-width:800px) {
    .map > img {
        max-width: 700px;
    }
}